<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Primer Encabezado</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
    <div class="card mb-3 p-5">
        <div class="row g-0 px-3">

          <div class="col-md-8">
            <div class="card-body">
              <h1 class="card-title">This first heading <small class="text-muted">Will Catch Your Eye</small></h1>
              <p class="card-text lead"> Donec ullamcoper nulla non metus auctor fringilla.Vestibulum id ligula porta felis
                  euismod semper.Praesent commodo cursus magna, vel scelerisque nisl
                  consectetur.Fusce dapibus,tellus ac cursus commodo.</p>
              
            </div>
          </div>

          <div class="col-md-4">
            <img src="perfil.jpeg" class="img-fluid rounded-circle" alt="...">
          </div>

        </div>
      </div>
</body>
</html>
